.main{
  background-color: #02081e;

  color: rgba(255,255,255,0.8);
  font-family: Arial, sans-serif;
  padding: 50px;
}
.main-list-list{
  width: 100%;
  list-style: none;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  margin: 15px;
}
.main-list-list h2{
  font-size: 14pt;
}
.main-list-item{
  padding: 2px 0;
  text-align: left;
  margin-left: 10px;
  font-size: 12pt;
}
/*.main-criterios h2{
  font-size: 14pt;

}
.main-list-item-p{
  text-align: justify;
  background-color: lightblue;
  padding: 5px 15px;
}
.main-list-list-2{
  width: 55%;
  height: 450px;
  overflow: hidden;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  margin: 15px;
}
.main-list-list-2 li{
    text-align: justify;
    padding: 5px 15px;
}
