*{
  margin: 0;
}
.main-img{
  height: 200px;
  width: 20%;
  border: 1px solid black;
  float: left;
  margin: 55px 30px;
}
.img{
  width: 100%;
  height: 100%;
  opacity: 0.7;
}
.caption{
    position: relative;
    bottom: 50%;
    text-align: center;
    padding: 5px 0;
    background-color: rgba(0,0,0,0.8);
}
.caption:hover{
  bottom: 53%;
  padding: 10px 0;
}
a{
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    color: rgba(255,255,255,0.7);
}
footer{
  clear: both;
}

.main-text{
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 14pt;
  padding: 10px 0;
}
