body{
  background-color: #302d2d;
}
h1,h2,h3,h4,h5,h6,li,a,p,article,figcaption{
  font-family: 'Roboto Mono', sans-serif;
  color:#65fe3f;
}
@media screen and (min-device-width: 768px){
    /* fim do menu */
    .main{
      width: 95%;
      height: 420px;
      padding: 30px;
      margin-top:  15px;
      background-color:#111111;
      text-align: justify;
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px){
  p {
    margin: 20px 10px;
    font-size: 1em;
  }
}