
@media screen and (min-device-width: 320px) and (max-device-width: 767px){
    .menu-list{
        visibility: hidden;
    }
    .sbc_top{
        position: absolute;
        left: 20px;
        top: 0px;
        width: 180px;
    }
    .ersi_logo{
        width: 220px;//190px;
        position: absolute;
        right: 150px;
        top: 30px;//15px;
    }
    #menuLat{
        display: block;
        float: right;
        width: 50px;
    }

    #menuLat img{
        width: 80px;
        position: absolute;
        top: 60px;//35px;
        right: 35px;//25px;
    }
    
    .menu{
        display: flex;
        text-align: center;
        background-color: #fff;
        height: 280px;
        position: relative;
    }
    .menu h1 {
        display: none;
    }
    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background-color: #111; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.2s; /* 0.2 second transition effect to slide in the sidenav */
    }

    /* The navigation menu links */
    .sidenav a {
        padding: 15px 8px 15px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #fff;
        display: block;
        transition: 0.3s;
    }

    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
        color: #f1f1f1;
    }

    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    main {
        transition: margin-left .3s;
    }

    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 3em;}

}

@media screen and (min-device-width: 768px){
    
    #menuLat, .sidenav{
        display: none;
    }
    a .sbc_top{
        position: absolute;
        left: 10px;
        width: 140px !important;
    }
    a .ersi_logo{
        float: right;
    }
    .menu{
        display: block;
        position: relative;
        text-align: center;
        background-color: #fff/*#bebdbd*/;
        height: 220px;
    }
    .menu h1 {
        position: absolute;
        margin: 0 auto;
        width: 100%;
        top: 40px;
        font-size: 2.3em;
    }

    .menu img{
        width: 150px;
    }
    
    .menu-list li{
        display: inline;
        padding: 0 5px;
    }
    .menu-list a{
        text-decoration: none;
        color: #000;
        font-family: Arial;
    }
    .menu-list{
        width: 100%;
        list-style: none;
        font-size: 12pt;
        position: absolute;
        bottom: 20px;
        margin: 0 auto;
    }
    .main-about img{
        width: 500px;
    }
}


