.main{
  background-color: #02081e;
  color: rgba(255,255,255,0.8);
  font-family: Arial, sans-serif;
  padding: 50px;
}

.main-presentation p{
  margin: 20px 0;
  text-align: justify;
}
.main-list-list{
  width: 100%;
  height: 400px;
  overflow: hidden;
  font-family: Arial, sans-serif;
  font-size: 12pt;
  margin: 15px;
  list-style: none;
}
.main-list-list h2{
  font-size: 14pt;
}
.main-list-item{
  padding: 2px 15px;
  text-align: justify;
}
.main-list-item-p{
  margin-top: 10px;
  text-align: justify;
  padding: 5px;
}

@media (max-width:320px){
  .main-list-list{
    font-size: 26pt;
  }

  .main-list-list h2{
    font-size: 36pt;
  }
  
}