.main-presentation{
  background-color: #02081e;
  padding: 50px;
}
.main-presentation p{
  margin: 10px 10px;
}

.main-presentation-content{
	display: block;
}

.main-presentation-content dt{
	margin:3px 0 2px 10px;
}

table {
  background: #fff;
  border: #000 solid 1px;
  color: #000;
}
table td, th {
  padding: 7px 30px;
}
table td {
  font-size: 0.8em;
  text-align: center;
  border: #000 solid 1px;
}
table tr:nth-child(odd){
  background-color: #aaa;
}

